.nav {
	margin-right: 49px;
}

.nav-list {
	display: flex;
	gap: 26px;
}

.nav-link {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px 0;
	color: $black;
	font-size: 14px;
	letter-spacing: 0.98px;
	text-transform: uppercase;
	transition: color 0.3s ease;

	svg {
		width: 13px;
		height: 8px;
		margin-left: 7px;
		fill: $black;
		transition: fill 0.3s ease;
	}

	&:hover, &:focus {
		color: $muted;
	}

	&:hover svg, &:focus svg {
		fill: $muted;
	}
}